body{background-image: url(../img/pattern.jpg);}

header{background-color: white; display: flex; justify-content: space-between;}

section{margin-left: 17%; margin-right: 17%; background-color: white; 
padding-left: 2%; padding-right: 2%; padding-bottom: 1%;}

p{border-bottom-style: solid; padding-bottom: 15px;}

footer{ text-align: center; background-color: black; color: white; padding: 1px;
font-family: Arial, Helvetica, sans-serif;}

h1{text-align: center; color: black; padding-top: 7%;}

h3{color: rgb(153, 13, 130); display: block;}

ul{list-style: none; display: flex; justify-content: flex-end; margin-right: 10px;}

li{margin: 8px; display: inline; color: rgb(153, 13, 130); 
font-family: 'Times New Roman', Times, serif; font-weight: bold;}



 